<h1>This will be the home page, which will feature a short 'About' snippet and Facebook 'call to action'</h1> 
      
<!--       <div>
        <div class="alert alert-info" data-ng-show="salutation">Hello, {{user.name}}</div>
        <div class="alert alert-warning" data-ng-show="byebye">You are now logged out.</div>
      </div>
      
      <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
      <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>

      
    </div> -->