brownBMF = #3c2415
orangeBMF = #e87d07


support-for-ie ?= true

    opacity(n)
      opacity n
      if support-for-ie
        filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')


/* general page stylings */

*
	margin 0

#logo
	width 200px
	display block
	margin 0 auto

.googleSignIn
	// display inline-block
	// float right
	display none
	
body 
	font-family Verdana
	background-color #438aa0
	
.container
	width 80%
	margin 0 auto

/* header */
.header 
	width 100%
	background-color #438aa0
	padding 5px 0
	margin 0
h1 
	text-align center
	color #fff
	font-size 50px

/* dropdown menus */
.dropdowns
	margin 40px 0px
.brewMenu
	color #000
	font-size 19px
	background-color #e5edef
	width 49%
	height 40px
	border 0px
	font-family Verdana
	margin-bottom 20px
#beerDropdown
	float right
.brewMenu:hover
	cursor pointer
	background-color darken(#e5edef, 20%)	
	
/* styles for partial view */
.views
	background-color #e5edef
	padding 20px
	border-radius 5px
	display none	

/* beer info view */
#beerInfo p 
	line-height 1.7em

#beerInfo span
	font-weight bold
	
h3 
	margin-bottom 10px
	color orangeBMF
	font-family Rockwell

/* brewery info in partial view */
.generalInfo
	width 100%
	padding-bottom 40px
	display block
	border-bottom 1px dotted black
	margin-bottom 20px
	min-height 160px

.breweryLogo
	width 150px
	float left
	display block
	margin-right 20px

/* pairing info in partial view */
.pairingInfo
	display inline-block
	width 65%

.pairingInfo a
	text-decoration none
	color darken(#438aa0, 20%)
	
.pairingInfo a:hover
	color darken(#438aa0, 40%)

/* serving info in partial view */
.servingInfo
	display inline-block
	width 30%
	float right
	padding-left 20px
	border-left 1px dotted black
	
.beerGlass
	width 30%
	float left	

/* footer */
footer
	color white
	text-align center
	padding 2em
	width 100%
	bottom 0
	position fixed

footer a
	color lighten(#438aa0, 50%)
	text-decoration none
	
footer a:hover
	color lighten(#438aa0, 20%)
	text-decoration none

#footerPosition
	padding 20px 0px

/* contact the developers pop-up */
.contactMAAK
	display inline
	float left

#even
	float right

/* lightbox styling and functionality- some things we should not change */
#contactFade
	display none
	position fixed
	top 0%
	left 0%
	width 100%
	height 100%
	background-color #000
	z-index 1001
	-moz-opacity 0.7
	opacity 0.7 

.icons 
	width 3%
	
.headshots
	width 30%

.contactNames
	font-size 2em

#contact
	display none 
	position fixed
	top 20%
	left 20%
	width 60%
	padding .5em
	border 2px solid #FFF
	background #CCC
	z-index 1002  
	overflow visible  
	text-align center  

#aboutFade
	display none
	position fixed
	top 0%
	left 0%
	width 100%
	height 100%
	background-color #000
	z-index 1001
	-moz-opacity 0.7
	opacity 0.7
	
#about
	display none
	position fixed
	top 25%
	left 25%
	right 25%
	padding .5em
	border 2px solid #FFF
	background-color #CCC
	z-index 1002
	overflow visible
	bottom 25%
	text-align center