/* general page stylings */
* {
  margin: 0;
}
body {
  font-family: Verdana;
  background-color: #b48c2d;
  height: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
/* header */
.header {
  width: 100%;
  padding: 20px 0px;
}
h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}
a {
  text-align: center;
}
/*diff colors obviously*/
a:link{
 color:brown
}

a:visited{
 color:dark-grey
}
a:hover{
 color:grey
}

}
/* dropdown menus */
.dropdowns {
  margin: 40px 0px;
}
.brewMenu {
  color: #000;
  font-size: 19px;
  background-color: #eedfbb;
  width: 49%;
  height: 40px;
  border: 0px;
  font-family: Verdana;
  margin-bottom: 20px;
}
#beerDropdown {
  float: right;
}
.brewMenu:hover {
  cursor: pointer;
  background-color: #e3c98d;
}
/* styles for partial view */
.views {
  background-color: #d1a949;
  padding: 20px;
  border-radius: 5px;
  display: none;
}
/* beer info view */
#beerInfo p {
  line-height: 1.7em;
}
#beerInfo span {
  font-weight: bold;
}

/* footer */
footer {
  text-align: center;
  color: #fff;
  font-size: 100%;
  clear:both;
  border: 1px solid black;
  line-height: 2em;
  padding: 2em;
  position: fixed;/* can't change without adding more code */
  bottom: 0;/* can't change without adding more code */
  width:100%;/* can't change without adding more code */

}

/* lightbox styling and functionality- some things we should not change */
#contactFade{
    display: none; /* can't change */
    position: fixed;/* can't change */
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;/* can't change */
    -moz-opacity: 0.7;/* can't change */
    opacity:.70;/* can't change */
    filter: alpha(opacity=70);/* can't change */
}

#contact{
    display: none;/* can't change */
    position: fixed;/* can't change */
    top: 45%;
    left: 45%;
    right: 45%;
    bottom: 45%;
    width: 4em;
    height: 8em;
  /*  margin-left: -150px;
    margin-top: -100px;*/                 
    padding: .5em;
    border: 2px solid #FFF;
    background: #CCC;
    z-index:1002;/* can't change */
    overflow:visible;/* can't change */
    text-align: center;/* can't change */
}

#aboutFade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;/* can't change */
    -moz-opacity: 0.7;/* can't change */
    opacity:.70;/* can't change */
    filter: alpha(opacity=70);/* can't change */
}

#about{
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    right: 25%;
    width: 40em;
    height: 23em;
    padding: .5em;
    border: 2px solid #FFF;
    background: #CCC;
    z-index: 1002;/* can't change */
    overflow: visible;/* can't change */
    bottom: 25%;/* can't change */
    text-align: center;/* can't change */
}
