pageColor = rgba(180, 140, 45, 1)

/* general page stylings */

*
	margin 0
body
	font-family Verdana
	background-color pageColor
.container
	width 80%
	margin 0 auto

/* header */
.header 
	width 100%
	background-color darken(pageColor, 20%)
	padding 20px 0px
h1 
	text-align center
	color #fff
	font-size 50px

a 
	text-align center

/* dropdown menus */
.dropdowns
	margin 40px 0px
.brewMenu
	color #000
	font-size 19px
	background-color lighten(pageColor, 70%)
	width 49%
	height 40px
	border 0px
	font-family Verdana
#beerDropdown
	float right
.brewMenu:hover
	cursor pointer
	background-color lighten(pageColor, 50%)
	
/* styles for partial view */
.views
	background-color lighten(pageColor, 20%)
	padding 20px
	border-radius 5px

/* beer info view */
#beerInfo p 
	line-height 1.7em

#beerInfo span
	font-weight bold