/* general page stylings */
* {
  margin: 0;
}
img {
  max-width: 30%;
  display: inline-block;
}
body {
  margin-top: 20px;
  font-family: Verdana;
  padding: 50px;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
/* dropdown menus */
.dropdowns {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.brewMenu {
  color: #fff;
  font-size: 19px;
  background-color: #b48c2d;
  width: 48%;
  height: 40px;
  border: 0px;
  font-family: Verdana;
}
.brewMenu:hover {
  cursor: pointer;
  background-color: rgba(180,140,45,0.8);
}
